@charset "UTF-8";
@font-face {
	font-family: "SF Display Regular";
	src: url("SF-UI-Display-Regular.otf") format("opentype");
}
.fit{
	width: fit-content;
	height: fit-content;
}
.rounded-25{
	border-radius: 25px !important;
}
.rounded-50{
	border-radius: 50px !important;
}
.h1index {
	letter-spacing: 3px;
}
.search {
	border-radius: 50px !important;
}
.search-button {
	background: transparent;
	border: none;
	outline: none;
	margin-left: -45px;
}
.cardIndex {
	border-radius: 10px !important;
}
.cardIndex > img {
	max-width: 400px !important;
}
.search-button img {
	width: 20px;
	height: 20px;
	object-fit: cover;
}
.indexBody {
	height: 100% !important;
	background-color: rgb(49 49 50) !important;
	border-top-left-radius: 50px !important;
	border-top-right-radius: 50px !important;
}
.card {
	border: 1px solid black;
	border-radius: 5px;
}
.main {
	background-color: #a2aaad;
}
.main-bg {
	background: linear-gradient(
		270deg,
		#d0001f,
		#c2011d,
		#b4021b,
		#a60418,
		#980516,
		#8a0614,
		#7c0712,
		#6e090f,
		#600a0d,
		#520b0b
	);
	background-size: 2000% 2000%;
	-webkit-animation: AnimationName 6s ease infinite;
	-moz-animation: AnimationName 6s ease infinite;
	-o-animation: AnimationName 6s ease infinite;
	animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 48%;
	}
	50% {
		background-position: 100% 53%;
	}
	100% {
		background-position: 0% 48%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 48%;
	}
	50% {
		background-position: 100% 53%;
	}
	100% {
		background-position: 0% 48%;
	}
}
@-o-keyframes AnimationName {
	0% {
		background-position: 0% 48%;
	}
	50% {
		background-position: 100% 53%;
	}
	100% {
		background-position: 0% 48%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 48%;
	}
	50% {
		background-position: 100% 53%;
	}
	100% {
		background-position: 0% 48%;
	}
}
